---
import Container from '@components/Container.vue'
import H3 from '@components/H3.vue'
import Article from '@components/Article.vue'

let articles = await Astro.glob('../content/articles/**/index.md')
articles = articles.sort((a, b) => new Date(b.frontmatter.datePublished).valueOf() - new Date(a.frontmatter.datePublished).valueOf());

const name = 'Read on'
const id = 'read-on'
---

<section aria-labelledby={id} class="bg-grey-light py-12 lg:py-24">
  <Container>
    <H3 as="h2" {id} class="mb-5">{name}</H3>
    <div class="grid gap-5 md:grid-cols-3 lg:gap-14">
      {articles.slice(0, 3).map((article) => {
        const { frontmatter } = article
        const { name, description, url, image } = frontmatter
        return (
          <Article
            {name}
            {description}
            {url}
            {image}
          />
        )
      }
      )}
    </div>
  </Container>
</section>
