---
import Container from '@components/Container.vue'
import H3 from '@components/H3.vue'
import Article from '@components/Article.vue'

export interface Props {
  id: string
  name: string
  articles: any
}

const { id, name, articles, ...props } = Astro.props
---

<section aria-labelledby={id} class="bg-grey-light py-12 lg:py-24" {...props}>
  <Container>
    <H3 as="h2" {id} class="mb-5">{name}</H3>
    {articles && (
      <div class="grid gap-5 md:grid-cols-3 lg:gap-14">
        {articles.slice(0, 3).map((article) => {
          const { frontmatter } = article
          const { name, description, url, image } = frontmatter
          return (
            <Article
              {name}
              {description}
              {url}
              {image}
            />
          )
        }
        )}
      </div>
    )}
  </Container>
</section>
