---
import { Markdown } from 'astro/components';
import site from '@data/site'
import Default from '@layouts/Default.astro'
import SchemaBook from '@components/SchemaBook.tsx'
import { Hero } from '@components/index.astro'
import Container from '@components/Container.astro'
import BlockQuote from '@components/BlockQuote.astro'
import Button from '@components/Button.vue'
import H3 from '@components/H3.vue'
import ReadOn from '@components/ReadOn.astro'
import { Content as Home } from '../content/pages/home.md'
import { Content as MarkWilson } from '../content/people/mark-wilson.md'

const title = 'Futurestate Design'

const description = 'This is a book to help you think differently about the future of your business.'

const images = [
  { id: 1, url: '/images/book-1.jpg' },
  { id: 2, url: '/images/book-2.jpg' },
  { id: 3, url: '/images/book-3.jpg' },
]

const people = await Astro.glob('../content/people/mark-wilson.md')
const author = people[0]

const reviews = await Astro.glob('../content/reviews/*.md')

// const socials = await Astro.glob('../content/socials/*.md')

let articles = await Astro.glob('../content/articles/**/index.md')
articles = articles.sort((a, b) => new Date(b.frontmatter.datePublished).valueOf() - new Date(a.frontmatter.datePublished).valueOf());

const page = {
  title: `${title} - How to step out of the past to create a business fit for the future`,
  name: title,
  description,
  // url: '/wtf',
  image: images[0]
}

const book = {
   name: title,
  description,
}

const mainEntity = {
  '@type': 'Book',
  '@id': `${site.url}/#futurestate-design`
}
---

<Default {...page} {mainEntity}>
  <SchemaBook slot="head" {...book} />
  <article>
    <Hero name={title} description="How to step out of the past to create a business fit for the future">
      <Button as="a" href="https://www.amazon.co.uk/dp/1399922106" type="primary" target="_blank">Buy the book on Amazon</Button>
      <svg width="692" height="276" viewBox="0 0 692 276" xmlns="http://www.w3.org/2000/svg" class="lg:absolute lg:right-10 lg:top-[325px] max-w-full"><g fill="none" fill-rule="evenodd"><path fill="#FBD400" fill-rule="nonzero" d="M692.244 48.112h-36.821l-8.032 8.026 8.032 8.033h36.821zM616.648 48.112h-36.821v16.059h36.821l8.033-8.033zM644.062 36.758V-.07h-16.059v36.828l8.033 8.025zM628.003 75.526v36.821h16.059V75.526l-8.026-8.026zM628.003 36.757l-26.039-26.039-11.355 11.355 26.039 26.039h11.355z"></path><path fill="#FBD400" fill-rule="nonzero" d="M644.062 75.526l26.039 26.039 11.355-11.355-26.033-26.039h-11.361zM655.423 48.112l26.033-26.039-11.355-11.355-26.039 26.039v11.355zM616.648 64.171L590.609 90.21l11.355 11.355 26.039-26.039V64.171z"></path><path fill="#FFF" fill-rule="nonzero" d="M644.062 52.816v-4.704h-4.704l-3.322-3.329-3.329 3.329h-4.704v4.704l-3.322 3.322 3.322 3.329v4.704h4.704l3.329 3.329 3.322-3.329h4.704v-4.704l3.329-3.329zM530.171 33.817l31.77 22.838-31.77 22.832z"></path><path fill="#FBD400" fill-rule="nonzero" d="M30.11 242.824l30.109-30.11-30.109-30.109L0 212.714z"></path><path d="M30.11 226.903c7.84 0 14.194-6.355 14.194-14.194s-6.355-14.193-14.194-14.193c-7.838 0-14.193 6.354-14.193 14.193 0 7.839 6.354 14.194 14.193 14.194z" fill="#FFF" fill-rule="nonzero"></path><path stroke="#FFF" stroke-width="38" d="M157.86 76.509v134.225H76.448M196.58 35.867h92.333v104.111M288.913 216.15v40.982h122.972V56.652h118.286"></path><path fill="#FBD400" fill-rule="nonzero" d="M178.196 28.845h-13.31v13.309h13.31z"></path><path fill="#FFF" fill-rule="nonzero" d="M164.886 28.845h-13.309v13.309h13.309z"></path><path fill="#FBD400" fill-rule="nonzero" d="M178.196 15.535h-13.31v13.31h13.31zM151.577 42.154h-13.31v13.31h13.31zM164.886 42.154h-13.309v13.31h13.309zM178.196 42.154h-13.31v13.31h13.31z"></path><path fill="#FFF" fill-rule="nonzero" d="M306.784 167.923l-17.871-10.081v40.706l17.871-10.082z"></path><path fill="#FBD400" fill-rule="nonzero" d="M288.583 157.842l-18.534 10.18v20.353l18.534 10.173.33-.185v-40.33z"></path></g></svg>
    </Hero>

    <section aria-labelledby="this-is-a-book-to-help-you-think-differently-about-the-future-of-your-business" class="py-12 lg:py-29">
      <Container>
        <div class="grid gap-5 lg:grid-cols-12">
          <div class="lg:col-start-1 lg:col-end-7">
            <div
              class="prose lg:prose-xl leading-tight lg:leading-tight">
              <Home />
            </div>
          </div>
          <div class="lg:col-start-8 lg:col-end-12">
            <BlockQuote
              name="Mark Wilson"
              description="Think of it as the equivalent of bringing a prototype back from the future so that everyone can see what they’re working towards."
            />
          </div>
        </div>
      </Container>
    </section>

    <section class="py-12">
      <div class="container">
        <div class="bg-yellow text-black p-5 text-center">
          <p> Want to buy copies for your whole team? Email <a href='mailto:booksales@wilsonfletcher.com' class="font-bold">booksales@wilsonfletcher.com</a></p>
        </div>
      </div>
    </section>

    <section aria-labelledby="gallery" class="pb-12 lg:pb-28">
      <Container>
        <h2 class="hidden" id="gallery">Gallery</h2>
        <div class="grid gap-2 md:gap-5 md:grid-cols-2">
          {images.map((image, index) => (
            <div class={`md:w-full ${index === 0 && 'md:col-span-2'}`}>
              <img src={image.url} alt="" loading="lazy" class="w-full"/>
            </div>
          ))}
        </div>
      </Container>
    </section>

    {reviews && (
      <section aria-labelledby="reviews" class="py-12 lg:py-24 bg-grey-light text-black">
        <Container>
          <div class="grid gap-5 lg:grid-cols-12">
            <div class="lg:col-span-3">
              <H3 as="h2" id="reviews">Kind words</H3>
            </div>
            <div class="lg:col-start-5 lg:col-end-13">
              <div class="grid gap-12">
                {reviews.map((review) => (
                  <div class="c-blockquote">
                    <figure class="leading-tight lg:text-xl">
                      <blockquote class="mb-5">
                        <p class="first-of-type::before:content-['open-quote']">
                          {review.frontmatter.description}
                        </p>
                      </blockquote>
                      <figcaption class="flex items-center gap-5">
                        <div class="h-[70px] w-[70px] overflow-hidden rounded-full relative bg-yellow
                        ">
                          <img src={review.frontmatter.author.image.url} alt="" class="absolute top-0 right-0 bottom-0 left-0 object-cover object-center" />
                        </div>
                        <div class="grow">
                          <div class="font-bold">
                            {review.frontmatter.author.givenName} {review.frontmatter.author.familyName},
                          </div>
                          {review.frontmatter.author.jobTitle}, {review.frontmatter.author.worksFor.name}
                        </div>
                     </figcaption>
                    </figure>
                  </div>
                ))}
              </div>
            </div>
          </div>
        </Container>
      </section>
    )}

    <section aria-labelledby="author" class="bg-white text-black py-12 lg:py-24">
      <Container>
        <div class="grid gap-5 lg:grid-cols-12">
          <div class="order-2 lg:order-1 lg:col-span-3">
            <img
              src={author.frontmatter.image.url}
              width={author.frontmatter.image.width}
              height={author.frontmatter.image.height}
              alt={author.frontmatter.image.alt}
              loading='lazy'
              class='w-max'
            />
          </div>
          <div class="order-1 lg:order-2 lg:col-start-5 lg:col-end-13">
            <H3 as="h2" id="author" class="mb-6">About the author</H3>
            <div class="prose lg:prose-xl leading-tight lg:leading-tight">
              <MarkWilson />
            </div>
          </div>
        </div>
      </Container>
    </section>

    {articles && <ReadOn id="read-on" name="Read on" {articles} />}
  </article>
</Default>
