---
import site from '@data/site'
import Default from '@layouts/Default.astro'
import SchemaBook from '@components/SchemaBook'
import { Hero } from '@components/index.astro'
import Container from '@components/Container.astro'
import BlockQuote from '@components/BlockQuote.astro'
import Button from '@components/Button.vue'
import H3 from '@components/H3.vue'
// import Carousel from '@components/Carousel.vue'
import ReadOn from '@components/ReadOn.astro'
import { Content as Home } from '../content/pages/home.md'
import { Content as MarkWilson } from '../content/people/mark-wilson.md'
import Promotion from '@components/Promotion.astro'

const title = 'Futurestate Design'

const description = 'This is a book to help you think differently about the future of your business.'

const images = [
  { id: 1, url: '/images/book-1.jpg', width: 1200, height: 640 },
  { id: 2, url: '/images/book-2.jpg', width: 590, height: 393 },
  { id: 3, url: '/images/book-3.jpg', width: 590, height: 393 },
]

const people = await Astro.glob('../content/people/mark-wilson.md')
const author = people[0]

const reviews = await Astro.glob('../content/reviews/*.md')

// const socials = await Astro.glob('../content/socials/*.md')

let articles = await Astro.glob('../content/articles/**/index.md')
articles = articles.sort((a, b) => new Date(b.frontmatter.datePublished).valueOf() - new Date(a.frontmatter.datePublished).valueOf());

const page = {
  title: `${title} - How to step out of the past to create a business fit for the future`,
  name: title,
  description,
  image: site.image
}

const book = {
   name: title,
  description,
}

const mainEntity = {
  '@type': 'Book',
  '@id': `${site.url}/#futurestate-design`
}
---

<Default {...page} {mainEntity}>
  <SchemaBook slot="head" {...book} />
  <article>
    <Hero name={title} description="How to step out of the past to create a business fit for the future">
      <Button as="a" href="https://www.amazon.co.uk/dp/1399922106" kind="black" target="_blank">Buy the book on Amazon</Button>
      <img src="/images/book.png" alt="Photo of book" width={773} height={678} loading="eager" class="lg:absolute lg:right-0 lg:bottom-6 lg:w-[636px]" />
    </Hero>

    <div class="mt-8">
      <Container>
        <Promotion />
      </Container>
    </div>

    <section aria-labelledby="this-is-a-book-to-help-you-think-differently-about-the-future-of-your-business" class="py-16">
      <Container>
        <div class="grid gap-5 lg:grid-cols-12">
          <div class="lg:col-start-1 lg:col-end-7">
            <div
              class="prose lg:prose-xl leading-tight lg:leading-tight">
              <Home />
            </div>
          </div>
          <div class="lg:col-start-8 lg:col-end-12">
            <BlockQuote
              name="Mark Wilson"
              description="Think of it as the equivalent of bringing a prototype back from the future so that everyone can see what they’re working towards."
            />
          </div>
        </div>
      </Container>
    </section>

    <div>
      <Container>
        <div class="bg-yellow text-black p-5 text-center mb-8" role="alert">
          <p>Want to buy copies for your whole team? Buy directly from us with a discount: <a href='mailto:booksales@wilsonfletcher.com' class="font-bold hover:underline">booksales@wilsonfletcher.com</a></p>
        </div>
      </Container>
    </div>

    {images && (
      <section aria-labelledby="gallery" class="mb-14">
        <Container>
          <h2 class="hidden" id="gallery">Gallery</h2>
          <div class="grid gap-2 md:gap-5 md:grid-cols-2">
            {images.map((image, index) => (
              <div class={`md:w-full ${index === 0 && 'md:col-span-2'}`}>
                <img src={image.url} class="w-full" width={image.width} height={image.height} alt="" loading="lazy" />
              </div>
            ))}
          </div>
        </Container>
      </section>
    )}

    {reviews[1] && (
      <section aria-labelledby="reviews" class="py-12 lg:py-24 bg-grey-light text-black">
        <Container>
          <div class="grid gap-5 lg:grid-cols-12">
            <div class="lg:col-span-3">
              <H3 as="h2" id="reviews">Kind words</H3>
            </div>
            <div class="lg:col-start-5 lg:col-end-13">
              <div class="grid gap-12">
                {reviews[1] && (
                  <div class="c-blockquote">
                    <figure class="leading-tight lg:text-xl">
                      <blockquote class="mb-5">
                        <p class="first-of-type::before:content-['open-quote']">
                          {reviews[1].frontmatter.description}
                        </p>
                      </blockquote>
                      <figcaption class="font-bold">
                        {reviews[1].frontmatter.author.givenName} {reviews[1].frontmatter.author.familyName}, {reviews[1].frontmatter.author.jobTitle}, {reviews[1].frontmatter.author.worksFor.name}
                     </figcaption>
                    </figure>
                  </div>
                )}
              </div>
            </div>
          </div>
        </Container>
      </section>
    )}

    {author && (
      <section aria-labelledby="author" class="bg-white text-black py-12 lg:py-24">
        <Container>
          <div class="grid gap-5 lg:grid-cols-12">
            <div class="order-2 lg:order-1 lg:col-span-3">
              <img
                src={author.frontmatter.image.url}
                width={author.frontmatter.image.width}
                height={author.frontmatter.image.height}
                alt={author.frontmatter.image.alt}
                loading='lazy'
                class='w-max'
              />
            </div>
            <div class="order-1 lg:order-2 lg:col-start-5 lg:col-end-13">
              <H3 as="h2" id="author">About the author</H3>
              <div class="prose lg:prose-xl leading-[1.2] lg:leading-[1.2]">
                <MarkWilson />
              </div>
            </div>
          </div>
        </Container>
      </section>
    )}

    <!-- {socials && (
      <>
        <section aria-labelledby="socials" class="py-12 lg:py-24 bg-grey-light text-black">
          <Container>
            <div class="grid gap-5 lg:grid-cols-12">
              <div class="lg:col-span-3">
                <H3 as="h2" id="socials">Socials</H3>
              </div>
            </div>
            <Carousel items={socials} client:visible />
          </Container>
        </section>
      </>
    )} -->

    {articles && <ReadOn id="read-on" name="Read on" {articles} />}
  </article>
</Default>
