---
import Container from './Container.astro'

interface Image {
  url: string
}

interface Social {
  name: string
  description: string
  url: string
  image: Image
}

interface Frontmatter {
  frontmatter: Social
}

interface Props {
  id: string
  name: string
  socials: Frontmatter[]
}

const { id, name, socials } = Astro.props as Props
---

<section aria-labelledby={id}>
  <Container>
    <div>
      <h2 {id}>{name}</h2>
      <div class="grid gap-4 sm:grid-cols-2">
        {socials.map((social) => (
          <div>
            <h3>{social.frontmatter.name}</h3>
            <div class="prose" set:html={social.content}></div>
          </div>
        ))}
      </div>

      <pre>{JSON.stringify(socials, null, 2)}</pre>

    </div>
  </Container>
</section>
