---
import BaseHead from '../components/BaseHead.astro'
import Header from '@components/Header.astro'
import Container from '@components/Container.vue'
import Button from '@components/Button.vue'
import H3 from '@components/H3.vue'
import Footer from '@components/Footer.vue'
import '@styles/global.css'

import site from '../data/site.js'

const { title, description, url, image } = Astro.props
const GTM = import.meta.env.PUBLIC_GTM
---

<html lang={site.lang}>
  <head>
    <BaseHead {title} {description} {url} {image} />
    <slot name="head" />
  </head>
  <body>
    <div class="flex flex-col min-h-screen w-screen">
      <Header />
      <main class="flex-auto"><slot /></main>
      <aside>
        <img
          src="/images/closeup.jpg"
          class="w-full"
          loading="lazy"
          width="1440"
          height="233"
          alt=""
        />
        <div class="bg-grey-dark text-white py-12 lg:py-22">
          <Container>
            <div class="grid gap-5 md:grid-cols-2">
              <div>
                <H3>
                  <a
                    href="/"
                    rel="home"
                    class="bg-yellow text-grey-dark box-decoration-clone"
                    >Futurestate design</a
                  >
                </H3>
              </div>
              <div class="md:text-right">
                <Button as="span" class="text-white border-current"
                  >Available 12th May</Button
                >
              </div>
            </div>
          </Container>
        </div>
      </aside>
      <Footer />
    </div>
  </body>
</html>
